.FooterContainer {
  background: #101010;
  padding: 7.5rem 10% 4.8rem;
  position: relative;
}

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Navbar {
  display: flex;
  gap: 3.4rem;
}

.TextAndIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 3.6rem;
}

.Text {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  width: 54rem;
}

.icons {
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;
}

.icon {
  cursor: pointer;
  position: relative;
  transition: ease 0.1s;
}

.icon:hover {
  filter: brightness(0) saturate(100%) invert(45%) sepia(83%) saturate(384%)
    hue-rotate(338deg) brightness(105%) contrast(84%);
}

.copy {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 25px;
  margin-top: 5.6rem;
  opacity: 0.5;
}

.orangeBorder {
  height: 4px;
  width: 10.1rem;
  position: absolute;
  top: 0;
  left: 10%;
  background: #d87d4a;
}

.mobileIcons {
  display: none;
}

@media (max-width: 1023px) {
  .FooterContainer {
    padding: 5.6rem 5% 4.6rem;
  }

  .NavbarContainer {
    flex-direction: column;
    gap: 3.2rem;
  }

  .TextAndIcons {
    margin-top: 3.2rem;
  }

  .Text {
    width: 100%;
  }

  .icons {
    position: absolute;
    bottom: 4.6rem;
    right: 5%;
  }

  .copy {
    margin-top: 8rem;
  }

  .orangeBorder {
    left: 5%;
  }
}

@media (max-width: 767px) {
  .FooterContainer {
    text-align: center;
  }

  .Navbar {
    flex-direction: column;
    gap: 1.6rem;
  }

  .NavbarContainer {
    gap: 4.8rem;
  }

  .TextAndIcons {
    margin-top: 4.8rem;
  }

  .mobileIcons {
    display: block;
    display: flex;
    gap: 1.6rem;
  }

  .icons {
    display: none;
  }

  .orangeBorder {
    position: static;
    margin: -5.6rem auto 0;
  }

  .NavbarContainer {
    margin-top: 5.6rem;
  }

  .copyAndMobileIcons {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    align-items: center;
  }
}
